#contact{
    display: flex;
    justify-content: space-around;
    padding-bottom: 160px;
}

#contact>.container h2{
    color: #171F4E;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    margin-bottom: 22px;
}   

#contact>.container p{
    color: #000;
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 65px;
}

.contact-image h4{
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 134%;
}

.contact-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contact-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-image img{
    
    width: 100px;
    height: 100px;
}